
img{
    width: 100vw;
    height: 100vh;
}
.container{
    position: relative;
    text-align: center;
}
.top-title{
    position: absolute;
    text-align: center;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: color-burn;

}